name: "watstix ci"

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - main

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: Installing deps
        run: pnpm install

      - name: Install playwright
        run: pnpm exec playwright install chromium

      - name: Building
        run: pnpm run build

      - name: Testing & Coverage
        run: pnpm run test --run
